<header [ngClass]="'bg_mauve'" class="navbar m-0 sticky-top row m-0 w-100 p-2 border-bottom text-light">
    <div class="col fs-4">
        Home Management
    </div>
    <div class="col d-none d-md-block text-end p-2">
        <span class="p-2 border border-1 border-light ">
            LE 27/02/2022
        </span> 
    </div>
    <form class="my-2 d-block d-md-none">
        <input type="search" class="form-control rounded-1" placeholder="Search..." aria-label="Search">
    </form>
</header>
