<div class="row m-0">
    <div class="col-12 col-md-3 col-lg-2">
        <div class="row">
            <nav class="col-12 py-1 py-md-3 h-auto border-top col-md-3 col-lg-2 sticky-bottom">

                <form class="m-3 d-none d-md-block">
                    <input type="search" class="form-control rounded-1" placeholder="Search..." aria-label="Search">
                </form>
    
                <ul class="nav flex-md-column justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link text-dark" aria-current="page" href="#">
                            <mat-icon class="me-2" style="vertical-align: bottom;" matBadge="+" matBadgeColor="primary">home</mat-icon>
                            <span class="d-none d-md-inline">Add home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" aria-current="page" href="#">
                            <mat-icon class="me-2" style="vertical-align: bottom;">list</mat-icon>
                            <span class="d-none d-md-inline">List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" aria-current="page" href="#">
                            <mat-icon class="me-2" style="vertical-align: bottom;" matBadge="+" matBadgeColor="accent">supervisor_account</mat-icon>
                            <span class="d-none d-md-inline">Add interne</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" aria-current="page" href="#">
                            <mat-icon class="me-2" style="vertical-align: bottom;">list</mat-icon>
                            <span class="d-none d-md-inline">List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" aria-current="page" href="#">
                            <mat-icon class="me-2" style="vertical-align: bottom;" matBadge="+" matBadgeColor="accent">supervisor_account</mat-icon>
                            <span class="d-none d-md-inline">Add interne</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="col-12 py-4 col-md-9 col-lg-10">
        <app-add-home></app-add-home>
    </div>
</div>
          